<div class="drugs">
<h1>Medical drug store and information center</h1>
<div class="drugscontainer">
        {{#each drugsDB}}
        <div class="onedrug">
            <h2 style="word-wrap: break-word; width: 90%">{{this.name}}</h2>
            <a href="/drugs/{{this._id}}"><img src="{{this.image}}" alt="HTML tutorial" style="width:200px;"></a>


            <div class="usrbtn">
                <div class="main-wsbtn">
                    <a href="/drugs/{{this._id}}">See More</a>
                </div>
            </div>


        </div>
        {{/each}}
        </div>

</div>  

    <div class="usrbtn">

        <div class="main-wsbtn">
            <a class="link" href="user-profile/">Go back</a>
         </div>
      
    </div>

