{{!-- <div id="form">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <label for="input-username">username</label>
    <input type="username" id="input-email" name="username" placeholder="Your username" />
 
    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="********" />
 
    <button type="submit">Login</button>
     
     <a class="google-btn" href="/auth/google">Login with Google</a> --}}
 

<div id="form">
  <form action="/login" method="POST">

<div class='bold-line'></div>
<div class='container2'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Hello There!</div>
      <div class='subtitle'>We're almost done. Before using our services you need to login.</div>
      <div class='input-fields'>
        <input type='username' name='username' placeholder='Username' class='input-line full-width'></input>
        <input type='password' name='password' placeholder='Password' class='input-line full-width'></input>

      </div>
      <a class='google-btn' href="/auth/google">or continue with <span class='highlight'><img src="https://media.giphy.com/media/2epS8zhisYtHDCKrWv/giphy.gif" style="width: 100px;">
       
        
        </span></a>
          {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
      <div><button class='ghost-round full-width'>Login</button></div>
    </div>
  </div>
</div>




  </form>
</div>