<!DOCTYPE html>
<html lang="en">

<body>

{{#if user}}

<h1 class="ml15">
  <span class="word">Welcome</span>
  <span class="word" style="color: #f5a425;">{{ user.username }}</span>
</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<div class="imgbtns">

  <div class="usrbtn">
    <div class="main-wsbtn">
      <a class="link" href='/drugs'>Drugs</a>
    </div>

    <div class="main-wsbtn">
      <a class="link" href='/webshop'>webshop</a>
    </div>
  </div>
  </div>



<div class="imgtxt">
<h3>Therapeutic drug monitoring TDM</h3>
<p id="paragraph"> Therapeutic drug monitoring (TDM), an important element in patient care, is the measurement of medication and metabolic concentrations in blood that will directly influence drug dosing. Its main focus is on drugs that can easily be under- or overdosed. It is a branch of clinical chemistry that is also handled by clinical pharmacy, clinical pharmacology, and specific medical specialists with or without the use of a laboratory at all, according to Philip D. Walson, professor of Pediatrics & Pharmacology, University of Cincinnati, and director, Clinical Pharmacology Division and Clinical Trials Office, Cincinnati Children’s Hospital Medical Center. 
</p>

<p id="paragraph"><img id="wrkshopl" src="https://waag.org/sites/waag/files/2018-04/Bioshades-workshop.jpg" style="width: 400px; margin-right:15px;">
Occasionally, medications are used without monitoring of blood levels, as their dosage can generally be varied according to the clinical response a patient has to that substance, and physicians can use other tests such as blood pressure or temperature to tell if the dosage is correct. Walson says there are many drugs for which no objective or clinically meaningful objective signs or symptoms exist, and many others for which over- and underdosing produce similar symptoms (for example, digoxin produces arrhythmias if too much or too little is given, as do anticonvulsants and antiarrhythmics). In addition, he says, even for drugs for which effects can be measured, it can occasionally be useful to quantify concentrations such as in overdose or to document that noncompliance rather than resistance to a drug or its unusually rapid clearance is responsible for lack of effect. “TDM is routinely used for only a few drugs but can be useful in specific instances for almost all drugs,” he says. 
But in a small group of drugs this is impossible, as insufficient levels will lead to undertreatment or resistance, and excessive levels to toxicity and/or tissue damage, according to pharmaceutical manfacturers. 

Walson says the group, however, is not so small. He says use is limited by the availability of assays and TDM expertise, and is not a characteristic of many drugs at all. Since compliance is routinely common and results are accurately provided by most clinicians, some would argue that TDM is required for all drugs, he says.
TDM can also detect poisoning with drugs, should the suspicion arise. The importance of TDM is self-evident, both in determining the most effective doses for treating certain diseases and avoiding drug toxicity. Drugs commonly monitored include those for heart disease, bacterial infections, epilepsy, asthma, chronic obstructive pulmonary disease (COPD), certain cancers, arthritis, and psychiatric disorders, and those designed to prevent rejection of transplanted organs.
</p>

<p id="paragraph"><img id="wrkshopr" src="https://labs.sogeti.com/wp-content/uploads/2015/09/064019.jpg" style="width: 400px; margin-left:15px;">
  The drugs that are monitored have some special features; most of them work best over a narrow therapeutic range. Below this range, the drug is not effective and the patient begins having symptoms again; above this range, the drug has negative, adverse, or toxic side effects. Since many people take more than one medication, there may be interactions between the drugs that affect the way the body absorbs or metabolizes one of them. Also, some patients do not take medications as prescribed or instructed. Monitoring helps identify these cases of noncompliance.</p>
</div>

{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}
<script>
anime.timeline({loop: true})
  .add({
    targets: '.ml15 .word',
    scale: [1,1],
    opacity: [0,1],
    easing: "easeOutCirc",
    duration: 800,
    delay: (el, i) => 800 * i
  }).add({
    targets: '.ml15',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  })  ;

</script>
</body>





</html>